:root{
    /* barvy */
    --main: #911818; 
    --secondary: ;
    --accent: #272727;
    --light: #f7f0f0;
    --dark: ;

    /* fonty */
    --heading: bold max(48px, 3vw) / max(50px, 3vw) 'Manrope', sans-serif;
    --subheading: bold max(32px, 2vw) / max(40px, 2vw) 'Manrope', sans-serif;
    --label: 600 14px / 20px 'Manrope', sans-serif;
    --text: 500 14px / 20px 'Manrope', sans-serif;

    /* spacing */
    --sp1: 4px;
    --sp2: 8px;
    --sp3: 16px;
    --sp4: 20px;
    --sp5: 40px;
    --sp6: 80px;
    --sp7: 160px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

h1, h2{ font: var(--heading); margin-bottom: var(--sp3); }
h3{ font: var(--subheading); margin-bottom: var(--sp3); }
h4{ font: var(--label); margin-bottom: var(--sp1); text-transform: uppercase; }
p{ font: var(--text); } 

a{
    text-decoration: none;
    color: unset;
    display: inline-block;
}

section{
    padding: 60px 20px;
}

@media (min-width: 744px){
    section{
    padding: 100px 20px;
}
}


.cta{
    font-weight: 600;
    background-color: var(--accent);
    color: var(--light);
    padding: 16px 32px;
    transition: 0.5s;
    width: fit-content;
}

.cta:hover{
    background-color: var(--main);
}

/* navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: #ffffffbb;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.025);
    z-index: 999;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    max-width: 1440px;
}

.logo img, .nav-toggle img{
    height: 40px;
    cursor: pointer;
}

.nav-toggle, .logo{
    background: none;
    border: none;
    z-index: 1000;
}

.nav-container .nav-menu{
    display: none;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    left: 0;
    padding: 100px 40px;
    background-color: #fff;
    margin: 0;
    font-weight: 500;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.nav-container .nav-menu.active{
    display: flex;
}

.nav-container .nav-menu li a{
    text-decoration: none;
    color: unset;
}

.nav-container .nav-menu li{
    border-bottom: 1px solid rgb(218, 218, 218);
    width: 100%;
    padding-bottom: 8px;
}

.nav-menu .cta{
    background-color: rgb(192, 1, 1);
    color: #fff !important; 
    font-weight: 500 !important;
    padding: 16px 40px !important;
    border: none;
    width: fit-content !important;
}

@media (min-width: 744px){
    .nav-toggle{
        display: none;
    }

    .nav-container .nav-menu{
        width: fit-content;
        display: flex;
        align-items: center;
        flex-direction: row;
        box-shadow: none;
        padding: none;
        position: relative;
        background-color: unset;
        height: auto;
    }

    .nav-container .nav-menu li{
    width: 100%;
    border: none;
    padding: 0;
    }
}

/* hero */

.hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    align-items: center;
    gap: var(--sp6);
    justify-content: end;
    height: 90vh;
    background: url(./img/gym.jpg);
    background-size: cover;
    background-position: center;
}

.hero .text-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    align-items: center;
    backdrop-filter: blur(8px);
    padding: 20px;
}

@media (min-width: 744px){
    .hero .text-container{
    width: 750px;
    }
}

/* kickstart */

.kickstart{
    display: flex;
    flex-direction: column;
    gap: var(--sp5);
    max-width: 1440px;
    margin: auto;
}

.kickstart .text-container{
    max-width: 650px;
}

.kickstart .features{
    display: flex;
    flex-direction: column;
    gap: var(--sp4);
}

.kickstart .feature{
    width: 100%;
    background-color: #272727;
    color: var(--light);
    height: 400px;
    display: flex;
    align-items: end;
    padding: 20px;
    position: relative;
    transition: background-size 0.5s ease;
}

.kickstart .feature:hover{
    background-size: 120%;
}
 
.kickstart .powerlifting{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./img/powerlifting.jpg);
    background-size: 100%;
    background-position: center;
}

.kickstart .bodybuilding{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./img/bodybuilding.jpg);
    background-size: 100%;
    background-position: center;
}

.kickstart .feature h3{
    max-width: 500px;
}

@media (min-width: 744px){
    .kickstart .features{
    flex-direction: row;
    }
}